body {
    font-family: 'Ubuntu', sans-serif;
    background: #FFFFFF;
}


.content-box {
    width: 1220px;
    margin: 0 auto;
}

header .content-box {
    height: 85px;
    display: flex;
    align-items: center;
    /*justify-content: flex-end;*/
    
}
.header_logo  {
    color: #141720;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 28px;
}

ul.menu {
    margin-left: auto;
    padding: 0px;
    list-style: none;
    display: inline-flex;
    justify-content: flex-end; 
    align-items: center;
    width: 500px;
}
ul.menu li {
    display: inline;
    margin: 0 5px;
}
ul.menu li a {
    color: #5D5F65;
    text-decoration: none;
    display: block;
    padding: 10px;
}
ul.menu li a:hover {
    text-decoration: underline;
    color: black;
}
.slider {
    height: 615px;
   display: flex;
   justify-content: center;
   align-items:center;
}
.slider .content-box {
  /*  justify-content: center;
    align-items: center;*/
}
.slider div {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 54px;
    font-size: 44px;
    text-align: center;
    letter-spacing: 1px;
}
.slider span {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    line-height: 60px;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #5D5F65;    
}
.about {
    background: #141720;
    display: flex;
    justify-content: center;
    align-items:center;

}
.box-c {
    width: 437px;
    padding: 30px;
    padding-right: 130px;
}
.headline {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    margin-bottom: 85px;
    font-size: 28px;
    letter-spacing: 1px;
}
.about-box {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
.service {
    background: #C4C4C4;
    height: 676px;
    padding-top: 139px;
}

.service .headline {
    text-align: center;
    margin-bottom: 78px;

}
.service .content-box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.content-box .box {
    min-width: 340px;
    max-width: 340px;
    height: 200px;
    margin: 0px 30px;
    margin-bottom: 50px;
}
.box .box_title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    font-size: 20px;
    color: #141720;
}
.content-box .box img {
    margin-bottom: 20px;

}
.box p {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #5D5F65;
}
.hiring {
    background: #141720;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hiring .headline {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    font-size: 28px;
    letter-spacing: 1px;
    color: #fff;
}
.hiring p{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
footer {
    background: #141720;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact {
    width: 437px;
    padding: 30px;
    padding-right: 130px;
}
.contact .headline {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    font-size: 28px;
    letter-spacing: 1px;
    color: #fff;
}

.contact form {
    border-bottom: 1px solid #fff;
    padding-bottom: 15px;
}
.contact form label {
    background: none;
    border: none;
    min-height: 25px;
    display: block;
    padding: 0 15px;
    border-bottom: 1px solid #fff;
    width: 420px;
    font-family: Ubuntu;
    font-style: normal;
    color: #fff;
    font-weight: normal;
    margin-bottom: 33px;
    line-height: 26px;
    font-size: 15px;
    letter-spacing: 0.5px;
}
.contact form label input {
    background: none;
    border: none;
    height: 27px;
    display: : block;
    padding: 0 15px;
    width: 90%;
    font-family: Ubuntu;
    font-style: normal;
    color: #fff;
    font-weight: normal;
   /* margin-bottom: 33px;*/
    line-height: 26px;
    font-size: 15px;
    letter-spacing: 0.5px;   
}
.contact form label:nth-child(3) {
    border: none;
}
.contact form textarea {
    background: none;
    border: none;
    height: 27px;
    padding: 0 15px;
    width: 420px;
    font-family: Ubuntu;
    font-style: normal;
    color: #fff;
    font-weight: normal;
    resize: none;
    margin-bottom: 33px;
    line-height: 26px;
    font-size: 15px;
    height: 140px;
    letter-spacing: 0.5px; 
}

.contact form div.button {
    width: 170px;
    height: 50px;
    border-radius: 24px;
    display: block;
   /* float:right;*/
    background: #C71222;
    margin-left:auto;
    border: #C71222;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    text-align: center;
  /*  padding: 1em 2em;
    border: 1px solid currentColor;
    line-height: 50px;*/
    color: #fff;
    line-height: 50px;
    font-size: 15px;
    letter-spacing: 0.1875px;
    color: #FFFFFF;

}
.contact form div.button:hover {
color: #fff;
background-color: red;
}